## Megatutorial 1: Explorative Datenanalyse

In diesem Megatutorial beschäftigen wir uns mit der explorativen Datenanalyse in Python.

## Aufgaben

* Lade die Daten in `pandas`.
* Führe eine deskriptive Datenanalyse mit geeigneten, statisches Maßen durch.
* Führe eine deskriptive Datenanalyse mit Hilfe von geeigneten Visualisierungen durch.

## Daten in `pandas` laden

In [9]:
from pandas import read_csv
from matplotlib import pyplot as plt
import seaborn as sns

In [12]:
data = read_csv("../data/fake_profiles.csv",
                 sep=",",
                   decimal=".",
                   usecols=range(1, 13))

## Einfache statistische Auswertungen

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   profile_pic                    576 non-null    object
 1   rel_num_numeric_char_username  576 non-null    float64
 2   words_fullname                 576 non-null    int64
 3   rel_num_numeric_char_fullname  576 non-null    float64
 4   name=username                  576 non-null    object
 5   description_length             576 non-null    int64
 6   has_external_url               576 non-null    object
 7   is_private                     576 non-null    object
 8   num_posts                      576 non-null    int64
 9   num_followers                  556 non-null    float64
 10  num_follows                    576 non-null    int64
 11  is_fake                        576 non-null    object
dtypes: float64(3), int64(4), object(5)
memory usage: 54.1+ KB

In [14]:
data.describe()

,rel_num_numeric_char_username,words_fullname,rel_num_numeric_char_fullname,description_length,num_posts,num_followers,num_follows
count,576.000000,576.000000,576.000000,576.000000,576.000000,5.560000e+02,576.000000
mean,0.163837,1.460069,0.036094,22.623264,107.489583,8.835909e+04,508.381944
std,0.214096,1.052601,0.125121,37.702987,402.034431,9.262573e+05,917.981239
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,3.800000e+01,57.500000
50%,0.000000,1.000000,0.000000,0.000000,9.000000,1.415000e+02,229.500000
75%,0.310000,2.000000,0.000000,34.000000,81.500000,7.285000e+02,589.500000
max,0.920000,12.000000,1.000000,150.000000,7389.000000,1.533854e+07,7500.000000

In [17]:
data["words_fullname"]. mean()

np.float64(1.4600694444444444)

In [20]:
data["words_fullname"].std()

np.float64(1.0526005867227521)

In [23]:
data["profile_pic"].value_counts()

profile_pic
yes    404
no     172
Name: count, dtype: int64

In [34]:
data.select_dtypes(include="number").corr()

,rel_num_numeric_char_username,words_fullname,rel_num_numeric_char_fullname,description_length,num_posts,num_followers,num_follows
rel_num_numeric_char_username,1.000000,-0.225472,0.408567,-0.321170,-0.157442,-0.063386,-0.172413
words_fullname,-0.225472,1.000000,-0.094348,0.272522,0.073350,0.033532,0.094855
rel_num_numeric_char_fullname,0.408567,-0.094348,1.000000,-0.117521,-0.057716,-0.027388,-0.067971
description_length,-0.321170,0.272522,-0.117521,1.000000,0.144824,0.006369,0.226561
num_posts,-0.157442,0.073350,-0.057716,0.144824,1.000000,0.325895,0.098225
num_followers,-0.063386,0.033532,-0.027388,0.006369,0.325895,1.000000,-0.011009
num_follows,-0.172413,0.094855,-0.067971,0.226561,0.098225,-0.011009,1.000000